name: 'Bump Version'

on:
    push:
        branches:
            - 'main'

jobs:
    bump-version:
        name: 'Bump Version on main'
        runs-on: ubuntu-latest

        steps:
            - name: 'Checkout source code'
              uses: 'actions/checkout@v2'
              # with:
              #     ref: ${{ github.ref }}
            - name: 'cat package.json'
              run: cat ./src/package/package.json
            - name: 'Setup Node.js'
              uses: 'actions/setup-node@v1'
              with:
                  node-version: 12
            - name: 'Automated Version Bump'
              id: version-bump
              uses: 'phips28/gh-action-bump-version@master'
              with:
                  # tag-prefix: 'bump-version-'
                  minor-wording: 'feature'
                  major-wording: 'story'
                  # patch-wording:  'patch'
                  rc-wording: 'epic'
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  PACKAGEJSON_DIR: 'src/package'
            - name: 'cat package.json'
              run: cat ./src/package/package.json
            - name: 'Output Step'
              env:
                  NEW_TAG: ${{ steps.version-bump.outputs.newTag }}
              run: echo "new tag $NEW_TAG"
    test-transpile-publish:
      name: 'Test and Publish'
      runs-on: ubuntu-latest

      steps:
          - uses: actions/checkout@v2

          - name: Use Node.js 12
            uses: actions/setup-node@v1
            with:
                node-version: 12

          - name: Install Dependencies
            run: yarn

          - name: Run Tests
            run: yarn test

          - name: Transpile typescript to javascript and pack in dist folder
            working-directory: ./src/package
            run: scripts/transpile-and-move.sh

          - name: Move README from root dir to package dir
            run: mv README.md src/package

          - name: Point to "index.js" intead to "index.ts"
            working-directory: ./src/package
            run: perl -pi -e "s/dist\/index.ts/dist\/index.js/g" package.json

          - id: publish
            uses: JS-DevTools/npm-publish@v1
            with:
                token: ${{ secrets.NPM_TOKEN }}
                package: ./src/package/package.json
          - if: steps.publish.type != 'none'
            run: |
                echo "Version changed: ${{ steps.publish.outputs.old-version }} => ${{ steps.publish.outputs.version }}"
